#filter-card{
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: 5px solid rgb(#86bc25);
}

#formulaire_filter_studentName{
    width: fit-content;
}

#studentName div + label{
    display: none;
}

#filter-card-body{
    display: flex;
}

.fit-content{
    width: fit-content;
}

#filter-form{
    width: 100%;
}

#result-count{
    width: fit-content;
    font-size: 1.2em;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgba(233, 236, 239, 0.6);
    height: 38px;
    outline: #ffffff solid 3px;
}

#formulaire_filter_reset{
    display: none;
    margin-left: 10px;
    width: 100%;
    height: 38px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.1em;
    color: #000000;
    font-weight: 400;
    box-shadow: none;
}

/* .createNew {
                position: fixed;
                bottom: 80px;
                left: 20px;
                z-index: 9999;
                background-color:transparent;
                border:2px solid black;
                border-radius: 50px;
                text-align: center;
                padding: 10px 14px 2px 14px;
                font-size: 2em;
                cursor: pointer;
                transition: border, background-color 0.3s ease;
            }
            .createNew:hover{
                border:2px solid black;
                background-color:#c0e779;
            }
            .btnCreate {
                color: black;
            }
            @keyframes bounce {
                0%   { transform: translateY(0); }
                30%  { transform: translateY(-17px); }
                50%  { transform: translateY(0); }
                70%  { transform: translateY(-7px); }
                100% { transform: translateY(0); }
            }
            .btnBounce:hover {
                animation: bounce 0.7s ease;
            } */
.createNew {
                position: fixed;
                bottom: 80px;
                left: 20px;
                z-index: 9999;
                background-color: transparent;
                border: 2px solid black;
                border-radius: 50px;
                text-align: center;
                padding: 15px 14px 14px 14px;
                font-size: 2em;
                cursor: pointer;
                transition: border 0.3s ease, background-color 0.3s ease;
                color: black;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .createNew:hover {
                background-color: #c0e779;
            }

            .btnBounce:hover {
                animation: bounce 0.7s ease;
            }

            @keyframes bounce {
                0%   { transform: translateY(0); }
                30%  { transform: translateY(-17px); }
                50%  { transform: translateY(0); }
                70%  { transform: translateY(-7px); }
                100% { transform: translateY(0); }
            }

            .btnUp{
                position: fixed;
                bottom: 86px;      
                right: 20px;       
                z-index: 9999;
                display: flex;
                color: rgb(0, 0, 0);
                border: none;
                text-align: center;
                font-size: 2em;
                cursor: pointer;
                text-decoration: none;
                background-color: transparent;
                text-align: center;
                transition: font-size 0.5s ease;
            }
            .btnUp:hover{
                font-size: 2.2em;
            }
            @media (max-width: 426px) {
                                    .createNew {
                                        bottom: 50px;
                                        left: 20px;
                                        background-color: transparent;
                                        border: 1px solid black;
                                        padding: 9px;
                                        font-size: 1.8em;
                                        transition: none;
                                        color: black;
                                    }
                                    .btnBounce:hover {
                                        animation: none;
                                    }
                                    @keyframes bounce {
                                        0%   { transform: none; }
                                        30%  { transform: none; }
                                        50%  { transform: none; }
                                        70%  { transform: none; }
                                        100% { transform: none; }
                                    }
                                    .btnUp{
                                        position: fixed;
                                        bottom: 60px;      
                                        right: 20px;       
                                        z-index: 9999;
                                        display: flex;
                                        color: rgb(0, 0, 0);
                                        border: none;
                                        text-align: center;
                                        font-size: 2em;
                                        cursor: pointer;
                                        transition: none;
                                    }
                                  }

#mainContent{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border: #edf0e8 solid 1px;
    box-shadow: 
        0 -12px 24px rgba(0, 0, 0, 0.1), 
        0 12px 24px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}



.progress {
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin-bottom: 0.2rem;
}

.progress-bar {
    transition: width 0.3s ease;
    font-size: 0.7rem;
    font-weight: bold;
}

/* Стили для иконок статуса */
.text-muted {
    display: block;
    text-align: center;
}

.fullProgress{
    background-color: #86bc25;
}

.btnsArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }
        .pagination li {
            margin: 0 5px;
            list-style: none;
            display: inline-block;
        }
        .pagination a {
            padding: 8px 16px;
            text-decoration: none;
            color: #25a3bc;
            font-weight: bold;
        }
        .pagination .active a {
            background-color: #007bff;
            color: white;
            border-color: #007bff;
        }
        

/* Дополнительные стили для лучшей адаптивности */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
@media (max-width: 426px) {
    #filter-card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #btnFilterArea{
        margin-bottom: 10px;
    }

    #formulaire_filter_studentName{
    width: 100%;
    }   
}
@media (max-width: 849px) {
            .mdHideFiltre{
            display: none!important;
        }
        }
@media (max-width: 1025px) {
        #filter-form{
            display: flex;
            justify-content: space-evenly;
        }

        #id-start{
                    display: flex;
                    justify-content: start;
                }
                #name-start{
                    display: flex;
                    justify-content: start;
                }
                #quality-start{
                    display: flex;
                    justify-content: start;
                }
                #startD-start{
                    display: flex;
                    justify-content: start;
                }
                #endD-start{
                    display: flex;
                    justify-content: start;
                }
                #advisor-start{
                    display: flex;
                    justify-content: start;
                }
                #trainer-start{
                    display: flex;
                    justify-content: start;
                }

        .table-responsive {
                    border: 0;
                }
                .table thead {
                    display: none;
                }
                .table tr {
                    margin-bottom: 10px;
                    display: block;
                    border: 1px solid #ddd;
                }
                .table td {
                    display: block;
                    text-align: right;
                    font-size: 13px;
                    border-bottom: 1px dotted #ccc;
                }
                .table td:last-child {
                    border-bottom: 0;
                }
                .table td::before {
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }

        .mdHide{
            display: none!important;
        }
    }

@media (min-width: 769px) {
        #filter-form{
            display: flex;
            justify-content: space-evenly;
        }
    }
