#navbar{
    background-color: rgb(255, 255, 255);
    border-color: rgba(224, 224, 224);
    box-shadow: 
        0 12px 24px rgba(0, 0, 0, 0.1); 
}

#logoNav{
    height: 40%;
    width: 60%;
}

#navButtons{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.btnHome{
        display: flex;
        color: rgb(0, 0, 0);
        background-color: transparent;
        border: 2px solid transparent;
        border-radius: 25px;
        text-align: center;
        font-size: 2.2em;
        cursor: pointer;
        transition: border, background-color 0.5s ease;
        margin-right: 10px;
        }
        .btnHome:hover{
            border: 2px solid black;
            background-color: #c0e779;
        }
        .btnHomeA{
            text-decoration: none;
            color: black;
        }
        .btnHome {
        aspect-ratio: 1 / 1;
        width: auto;
        padding: 1px 6px 0 6px ;
        }
        
        .btnLogout{
        display: flex;
        color: rgb(0, 0, 0);
        background-color: transparent;
        border: 2px solid transparent;
        border-radius: 25px;
        text-align: center;
        font-size: 2.2em;
        cursor: pointer;
        transition: border, background-color 0.5s ease;
        }
        .btnLogout:hover{
            border: 2px solid black;
            background-color: #d4d2d2;
        }
        .btnLogoutA{
            text-decoration: none;
            color: black;
        }
        .btnLogout {
        aspect-ratio: 1 / 1;
        width: auto;
        padding: 6px 6px 6px 6px ;
        }

        


