.btnReturnToCOnnection{
    border-radius: 8px;
    color: #2f62d1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
}

#bodyRegisterConfirmation{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    max-width: 100%; 
    margin: 50px auto; 
    padding: 20px; 
    text-align: center; 
    background-color: #f8f9fa;
    color: #333;
    
}

#containerRegisterConfirmation{
    /* background-color: rgba(255, 255, 255, 0.9); */
    border-radius: 10px;
    padding: 30px;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
}