{# templates\components\add_button.html.twig #}
<a href="{{ path('app_formulaire_new') }}" class="btnBounce createNew" title="Créer un nouveau formulaire">
    <ion-icon name="add-outline"></ion-icon>
</a>