{# templates\components\creation_button.html.twig #}
<button type="submit" class="btn" id="btnAdd" title="Crée" form="editForm">
    {{ button_label|default() }}
    <ion-icon name="duplicate-outline"></ion-icon>
</button>