{# templates\components\edit_button.html.twig #}
<button style="border:none; background-color:transparent;">  
    <a href="{{ path('app_formulaire_edit', {'id': formulaire.id}) }}" class="updBtn" title="Modifier"><ion-icon name="create-outline"></ion-icon></a>
</button>