{# templates\components\logout_button.html.twig #}
<button class="btnLogout">
    <a href="{{ path('app_formulaire_index') }}" title="Retour à la liste" class="btnlogoutA"><ion-icon name="menu-outline" style="color:black"></ion-icon></a>
</button>