{# templates\components\look.html.twig #}
<button style="border:none; background-color:transparent;">
    <a href="{{ path('app_formulaire_show', {'id': formulaire.id}) }}" class="btnLook" title="Voir"><ion-icon name="eye-outline"></ion-icon></a>
</button>