{# templates\components\reset_button.html.twig #}
<button class="btnReset">
    <a href="{{ path('app_formulaire_index') }}" class="btnResetA" title="Effacer tout">
        <ion-icon name="refresh-outline"></ion-icon>
    </a>
</button>