{# templates\components\up_button.html.twig #}
<button id="btnUpId" class="btnUp" title="Haut de page">
    {# <ion-icon name="arrow-up-outline"></ion-icon> #}
    <ion-icon name="chevron-up-outline"></ion-icon>
</button>
