{# templates\components\update_button.html.twig #}
<button type="submit" class="btnUpdateEdit" title="Mettre à jour" form="editForm">
    {{ button_label|default() }}
    <ion-icon name="save-outline"></ion-icon>
</button>